

services:
  backend:
    build: 
      context: ./backend/api
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - DB_HOST=host.docker.internal
    env_file:
      - ./backend/api/.env
    volumes:
      - ./backend/api:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3002:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:3001/api
    command: npm run dev -- --host
    depends_on:
      - backend
    restart: always
